body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-image: url('bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}
p {
  color: white;
  font-weight: 200;
}
.projects {
  font-weight: 500;
  font-size: 20px;
}
a {
  color: white;
  font-weight: 200;
}
