@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(45deg, rgba(255,0,223,1) 0%, rgba(255,255,0,1) 100%);
  height: 100vh;
  font-weight: 700;
}
p {
  color: white;
}
.projects {
  font-size: 20px;
}
a {
  color: white;
}
h1 {
  font-size: 69px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-family: 'Roboto';
}
.obj {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 8px;
  width: 300px;
  margin: 10px;
  display: inline-block;
}
